.font-size{
    font-size: 1.5rem;
    color: black;
    font: bolder;
    text-align: center;
    
}

.font-sizes{
    font-size: 1.5rem;
    color: black;
    font: bolder;
    text-align: left;
    
}

.font-size ol{
    font-size: 1.5rem;
    color: black;
    text-align: left;
}


body{
    font-family: sans-serif;
}
