
.form-bar{
    max-width: 65%;
    min-width: none;
    
}

.background {
    background-color: blue;
}

/* @media(min-width:480px){
    .section1{
        text-align: center;
        display: block;
        
    }
} */

.forms{
    text-align: center;
}